// varialbes
block vars

<!DOCTYPE html>
html(lang="en")
  head
    title Document
    block head
      include ../partials/head
    block beforeload
  body(class="page-" + page.name)
    include ../libs/bemto/index
    include ../mixins/index
    block header
      include ../partials/header
    block content
    block footer
      include ../partials/footer
    block afterload
