// varialbes
block vars

<!DOCTYPE html>
html(lang="en")
  head
    title= page.title
    block head
      include ../partials/head
    block beforeload
  body(class="page-" + page.name)
    include ../libs/bemto/index
    include ../mixins/index
    block header
      include ../partials/header
    block content
    aside.bottom-navigation
      include ../components/extended-navigation
    block footer
      include ../partials/footer
    script(src="../js/main.js")
    block afterload
