@font-face
  font-family: "Melodie"
  src: url(../../assets/fonts/melodie.otf) format('opentype')
  src: url(../../assets/fonts/melodie.ttf) format('truetype')

@font-face
  font-family: 'roboto-regular'
  src: url(../../assets/fonts/roboto-regular.ttf) format(truetype)
  font-weight: 500
  font-style: normal

*
  font-size: 100px
  font-family: 'roboto-regular'
