-
  categories = [
    {
      name: 'Бухгалтерія для України. Базова версія',
      price: '2240 грн.',
      link: '#'
    },
    {
      name: 'Бухгалтерія для бюджетних установ України',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Управління невеликою фірмою для України. Базова версія',
      price: '2240 грн.',
      link: '#'
    },
    {
      name: 'Зарплата і Управління Персоналом для України. Базова версія',
      price: '2240 грн.',
      link: '#'
    },
    {
      name: 'Бухгалтерія для України',
      price: '6690 грн.',
      link: '#'
    },
    {
      name: 'Бухгалтерія для України. Комплект на 5 користувачів',
      price: '12900 грн.',
      link: '#'
    },
    {
      name: 'Управління невеликою фірмою для України',
      price: '8400 грн.',
      link: '#'
    },
    {
      name: 'Управління невеликою фірмою для України. Комплект на 5 користувачів',
      price: '16710 грн.',
      link: '#'
    },
    {
      name: 'Управління торгівлею для України',
      price: '8400 грн.',
      link: '#'
    },
    {
      name: 'Роздріб для України',
      price: '6690 грн.',
      link: '#'
    },
    {
      name: 'Управління торгівельним підприємством для України',
      price: '15053 грн.',
      link: '#'
    },
    {
      name: 'Зарплата і кадри для бюджетних установ України',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Зарплата і Управління Персоналом для України',
      price: '8400 грн.',
      link: '#'
    },
    {
      name: 'Технологічна поставка',
      price: '6690 грн.',
      link: '#'
    },
    {
      name: 'Документообіг 8 КОРП',
      price: '62700 грн.',
      link: '#'
    },
    {
      name: 'Управління виробничим підприємством для України',
      price: '99000 грн.',
      link: '#'
    },
    {
      name: 'Управління виробничим підприємством для України 10 користувачів + клієнт сервер',
      price: '141300 грн.',
      link: '#'
    },
    {
      name: 'Управління виробничим підприємством для України. Ліцензія для віддаленого офісу',
      price: '18000 грн.',
      link: '#'
    },
    {
      name: 'Управління виробничим підприємством для України. Ліцензія для ноутбука',
      price: '2400 грн.',
      link: '#'
    },
    {
      name: 'Комплексний облік для бюджетних установ України. Комплект',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Комплексний облік для бюджетних установ України',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Розпорядник бюджетного фінансування для України',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Розпорядник бюджетного фінансування для підвідомчих організацій України',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Розпорядник бюджетного фінансування для місцевих рад України. Базова версія',
      price: 'уточнити у менеджера',
      link: '#'
    },
    {
      name: 'Клієнтська ліцензія на 1 робоче місце',
      price: '3300 грн.',
      link: '#'
    },
    {
      name: 'Клієнтська ліцензія на 5 робочих місць',
      price: '11610 грн.',
      link: '#'
    },
    {
      name: 'Клієнтська ліцензія на 10 робочих місць',
      price: '22290 грн.',
      link: '#'
    },
    {
      name: 'Клієнтська ліцензія на 20 робочих місць',
      price: '42360 грн.',
      link: '#'
    },
    {
      name: 'Програмне забезпечення BAS ERP',
      price: '180000 грн.',
      link: '#'
    },
    {
      name: 'Бухгалтерський облік для неприбуткових організацій України',
      price: 'уточнити у менеджера',
      link: '#'
    }
  ]
  
table
  tr
    th(colspan="2", align="center") 1С:Підприємство 8
  each category in categories
    tr
      td
        a(href= category.link)= category.name
      td(align="center")= category.price
