-
  clients = [
    {
      name: 'Футбольний клуб "Львів"',
      desc: [
        `«Львів» — український футбольний клуб з однойменного міста, заснований 2006 року. Виступає у Прем'єр-лізі України. У 1992-2001 роках існував інший клуб з такою ж назвою, який юридично і статистично із «Львовом» 2006 року не пов'язаний. Від часу заснування у 2006 році і до січня 2019 р. називався Футбольний клуб «Львів» або ФК «Львів». Зі січня 2019 року носить назву Професійний футбольний клуб «Львів» або ПФК «Львів». Назва ФК «Львів» залишилася за дитячо-юнацькою школою клубу.`,
        `Перший професійний період тривав з 2006 по 2012 рік, команда провела п'ять сезонів у Першій лізі та один сезон 2008-09 у Прем'єр-лізі. В цей час у складі команди грали лише громадяни України. В 2012 професійний клуб припинив існування через фінансові проблеми, і в 2012-16 роках «Львів» існував у вигляді футбольної школи, що мала свою команду у вищій лізі дитячо-юнацької футбольної ліги України.`,
        `Другий професійний період фактично почався в сезоні 2016-17, коли на базі випускників 1999 року народження було відновлено основну дорослу команду. Клуб заявився на чемпіонат України серед аматорів і брав участь у Кубку України серед аматорів. Наступного року команда офіційно отримала професійний статус і заявилася на Другу лігу. Влітку 2018 «Львів» став учасником Прем'єр-ліги, замінивши рівненський «Верес».`
      ],
      site: 'http://www.fclviv.com.ua',
      img: '../assets/images/clients-slider/tab1.png'
    },
    {
      name: 'Бухта вікінгів',
      desc: ['База відпочинку "Бухта Вікінгів" розташована в 12 км від Львова в напрямку Бібрки в екологічно чистому районі. Котеджі з вигодами і всім необхідним для приємного відпочинку.'],
      site: 'https://viking.com.ua/uk',
      img: '../assets/images/clients-slider/tab2.png'
    },
    {
      name: 'Taurus City',
      desc: [`Taurus City - невеликий та затишний, з яскравим індивідуальним дизайном, відмінним сервісом, мабуть один з кращих бутик-готелів міста. Taurus City відкритий в 2017 р. та розташований у тихому районі, поруч з історичним центром Львова, на відстані лише 1,7 км. від центрального залізничного вокзалу та 1,2 км. від перлини архітектурної спадщини Львова 19-го сторіччя – Національного театру опери та балету.`],
      site: 'https://taurus-city.com/',
      img: '../assets/images/clients-slider/tab3.png'
    },
    {
      name: 'Лімо',
      desc: [`Історія компанії почалася у далекому 1942 році. Тоді все, що ми мали – це невеликий холодильний комплекс та вміння працювати з замороженою продукцією.`],
      site: 'http://www.limo.ua',
      img: '../assets/images/clients-slider/tab4.png'
    },
    {
      name: 'Innovation development',
      desc: [
        `Головна ціль Innovation Development - створювати інноваційні проекти, в яких гармонійно поєднаються передові технології будівництва, особливий стиль, дизайн та архітектура будинків, ергономіка простору і комфорт`,
        `При створенні та реалізації усіх житлових комплексів, компанія Innovation Development намагається прорахувати все до найменших деталей на етапі проектування, щоб запропонувати найвигіднішу ціну за квадратний метр на ринку первинної нерухомості з оптимальним наповненням квартир.`,
        `Дизайн та архітектура житлових комплексів Innovation Development повинна змінити погляд на життя у багатоквартирних будинках. Час обирати інновації та індивідуальність в усьому!`
      ],
      site: 'http://indev.net.ua',
      img: '../assets/images/clients-slider/tab5.png'
    }
  ]

+b.UL.clients-names-slider
  each client in clients
    +e.LI.slide
      span= client.name

+b.UL.clients-slider
  each client in clients
    +e.LI.slide
      a(href= client.site)
        img(src= client.img, alt= client.name)
      a(href= client.site)
        h3= client.name
      each paragraph in client.desc
        p= paragraph
