-
  clients = [
    {
      name: 'Універсальна страхова компанія',
      desc: [
        'ПАТ «Страхова компанія «Універсальна» входить до першої десятки страхових компаній України.',
        'Компанія була заснована у 1991 році і сьогодні працює в усіх регіонах України.Станом на 1 січня 2014 року регіональна мережа "Універсальної" нараховує більше 300 точок продажупо всій країні.',
        'СК "Універсальна" надає послуги індивідуальним та корпоративним клієнтам та позиціонує себе як роздрібного страховика. Протягом 2013 року, компанія заключила 669 673 діючих договорів з фізичними та корпоративними клієнтами.'
      ],
      site: 'http://universalna.com/',
      img: '../assets/images/clients-slider/tab8.png'
    },
    {
      name: 'TICKETSUA',
      desc: ['Допомагати ефективно планувати маршрут, рекомендувати найкращі ціни, забезпечувати зручне бронювання та доступні засоби оплати, піклуватись про пасажира від моменту вибору маршруту до кінця подорожі.'],
      site: 'http://tickets.ua/uk',
      img: '../assets/images/clients-slider/tab9.png'
    },
    {
      name: 'Еко-курорт IZKI',
      desc: ['З давніх часів людина прагне до єднання з природою для покращення фізичного здоров’я, відчуття душевного спокою та самопізнання. Тому ми створили наш еко-курорт у мальовничій місцевості Міжгір’я, щоб кожен з наших гостей, з допомогою цілющої карпатської природи та нашої турботи міг відновити сили, відчути внутрішню гармонію та замислитися про майбутнє.'],
      site: 'http://izki.com.ua/ua/',
      img: '../assets/images/clients-slider/tab6.png'
    },
    {
      name: 'Dunapack Packaging',
      desc: ['Заводи "Дунапак" - це високотехнічне підприємство, що використовує сучасні методи виробництва. Ми пишаємося становленням підприємства, історія якого бере свій початок в 1853 р Грунтуючись на успіхах минулих років, ми вкладаємо інвестиції в майбутнє. Наш принцип - це єдність традицій та інновацій.'],
      site: 'http://www.dunapack.ua/',
      img: '../assets/images/clients-slider/tab7.png'
    },
    {
      name: 'Леокераміка',
      desc: [
        'Особливістю Лео Кераміки – є комфорт, зручність, європейський сервіс та найбільший вибір у Львові за доступною ціною! Тут Вам запропонують найкращу керамічну плитку, сантехніку та аксесуари із вишуканих колекцій провідних європейських виробників. Оскільки Лео Кераміка є прямим імпортером та постачальником таких фабрик, як: Ceramika Paradyz, Cerrad, Nowa Gala, Ceramika Gres, Zeus ceramika, Cersanit, Opoczno, Tubadzin, Venisa, Plaza, Monopole, Oset, Pamesa, Ceramika Gomez, Imola, La Faenza, Leonardo, Baerwolf, Zahna – тому цінові пропозиції на товар є найкращими.',
        'Завершити інтер’єр ванної кімнати Ви зможете, обравши сантехніку, адже у Лео Кераміці представлений найширший асортимент змішувачів, душових кабін, акрилових та гідромасажних ванн найвідоміших виробників: Roca, Pool Spa, Kludi, Hansgrone, Laufen, Duravit, Villeroy & Boch та багато ін.'
      ],
      site: 'http://leoceramika.com/',
      img: '../assets/images/clients-slider/tab3.png'
    },
    {
      name: 'Медіахолдинг ZIK',
      desc: [
        'До медіа-холдингу ZIK входять телеканал ZIK та інформаційне агентство «Західна інформаційна корпорація». ІА ZIK було утворено ще влітку 2004 року. Це перше інтернет-агентство у Західній Україні.',
        'Сьогодні воно входить до 15 найбільш відвідуваних сайтів України у категорії електронних ЗМІ. ІА ZIK широко й об’єктивно відображає інформаційні процеси в західному регіоні України.',
        'Телеканал ZIK вперше вийшов в ефір 1 вересня 2010 року. Тоді програмна сітка налічувала шість проектів власного виробництва. Зараз кількість авторських програм зросла до двадцяти. В основі більшості із них, як і раніше, залишається жанр журналістського розслідування.'
      ],
      site: 'https://zik.ua',
      img: '../assets/images/clients-slider/tab4.png'
    },
    {
      name: 'Футбольний клуб КАРПАТИ',
      desc: [
        '«Карпати» — футбольний клуб вищої ліги України зі Львова. Єдиний клуб за всю історію Кубка СРСР, що виграв трофей, виступаючи не у вищій лізі (1969 рік). Дворазовий фіналіст Кубка України: 1993 і 1999. Бронзовий призер чемпіонату України 1997/98.',
        'Проект ВАТ «Народна команда «Карпати» - це не лише проект, пов’язаний з футболом, а фактично проект перетворення Львівщини на потужний освітній, науковий, спортивний та бізнесовий центр. Важливим моментом у реалізації проекту є поштовх для виходу місцевих підприємств на європейські ринки та ринок Східної України. Запропонований ФК «Карпати» проект створення потужного експортноорієнтованого підприємства (такий статус йому забезпечить участь команди у європейських турнірах) просуватиме західноукраїнський бізнес не лише на теренах України, а й за її межами.'
      ],
      site: 'https://fckarpaty.com',
      img: '../assets/images/clients-slider/tab5.png'
    }
  ]

+b.UL.clients-names-slider
  each client in clients
    +e.LI.slide
      span= client.name

+b.UL.clients-slider
  each client in clients
    +e.LI.slide
      a(href= client.site)
        img(src= client.img, alt= client.name)
      a(href= client.site)
        h3= client.name
      each paragraph in client.desc
        p= paragraph
