-
  sections = [
    {
      title: 'КОМПАНІЯ',
      links: [
        {
          name: 'Про компанію',
          link: 'about.html'
        },
        {
          name: 'Послуги',
          link: 'services.html'
        },
        {
          name: 'Продукти',
          link: 'products.html'
        },
        {
          name: 'Контакти',
          link: 'contacts.html'
        }
      ]
    },
    {
      title: 'ПОСЛУГИ',
      links: [
        {
          name: 'Консультації з вибору програм',
          link: 'consultation.html'
        },
        {
          name: 'Доставка та встановлення',
          link: 'instalation.html'
        },
        {
          name: 'Налаштування та впровадження',
          link: 'settings.html'
        },
        {
          name: 'Супровід (ІТС)',
          link: 'accompaniment.html'
        },
        {
          name: 'Сервісний супровід',
          link: 'settings.html'
        },
        {
          name: 'ТОП обробок, котрі полегшують роботу',
          link: 'catalog.html'
        }
      ]
    },
    {
      title: 'ПРОДУКТИ',
      links: [
        {
          name: '1С:Підприємство 8',
          link: 'catalog.html'
        },
        {
          name: 'Інформаційно-технологічний супровід (ІТС)',
          link: 'catalog.html'
        },
        {
          name: 'Програмне забезпечення інших виробників',
          link: 'catalog.html'
        }
      ]
    },
    {
      title: 'КЛІЄНТИ',
      links: [
        {
          name: 'Футбольний клуб "Львів"',
          link: 'http://www.fclviv.com.ua'
        },
        {
          name: 'Бухта вікінгів',
          link: 'https://viking.com.ua/uk'
        },
        {
          name: 'Taurus City',
          link: 'https://taurus-city.com/'
        },
        {
          name: 'Лімо',
          link: 'http://www.limo.ua'
        },
        {
          name: 'Innovation development',
          link: 'http://indev.net.ua'
        }
      ]
    },
  ]

+b.NAV.bottom-navbar
  each section in sections
    +e.section
      +e.H3.title= section.title
      +b.UL.bottom-navbar__links
        each link in section.links
          +e.LI.link
            +e.A(href= link.link)= link.name
