-
  sections = [
    {
      title: 'КОМПАНІЯ',
      links: [
        {
          name: 'Про компанію',
          link: 'about.html'
        },
        {
          name: 'Послуги',
          link: 'services.html'
        },
        {
          name: 'Продукти',
          link: 'products.html'
        },
        {
          name: 'Навчання та сертифікація',
          link: 'learn.html'
        },
        {
          name: 'Контакти',
          link: 'contacts.html'
        }
      ]
    },
    {
      title: 'ПОСЛУГИ',
      links: [
        {
          name: 'Консультації з вибору програм',
          link: 'consultation.html'
        },
        {
          name: 'Доставка та встановлення',
          link: 'instalation.html'
        },
        {
          name: 'Налаштування та впровадження',
          link: 'settings.html'
        },
        {
          name: 'Навчання та сертифікація',
          link: 'learn.html'
        },
        {
          name: 'Супровід (ІТС)',
          link: 'accompaniment.html'
        },
        {
          name: 'Сервісний супровід',
          link: 'settings.html'
        },
        {
          name: 'Фредо-Звіт',
          link: 'fredo.html'
        },
        {
          name: 'ТОП обробок, котрі полегшують роботу',
          link: 'catalog.html'
        }
      ]
    },
    {
      title: 'ПРОДУКТИ',
      links: [
        {
          name: '1С:Підприємство 8',
          link: 'catalog.html'
        },
        {
          name: 'Інформаційно-технологічний супровід (ІТС)',
          link: 'catalog.html'
        },
        {
          name: 'Бітрікс',
          link: 'catalog.html'
        },
        {
          name: 'Програмне забезпечення інших виробників',
          link: 'catalog.html'
        },
        {
          name: 'Галузеві продукти',
          link: 'catalog.html'
        }
      ]
    },
    {
      title: 'КЛІЄНТИ',
      links: [
        {
          name: 'Футбольний клуб КАРПАТИ',
          link: 'http://www.fckarpaty.lviv.ua/'
        },
        {
          name: 'Медіахолдинг ZIK',
          link: 'http://zik.ua/'
        },
        {
          name: 'Леокераміка',
          link: 'http://leoceramika.com/'
        },
        {
          name: 'Електромайстер',
          link: 'http://emaster.com.ua/'
        },
        {
          name: 'Dunapack Packaging',
          link: 'http://www.dunapack.ua/'
        }
      ]
    },
  ]

+b.NAV.bottom-navbar
  each section in sections
    +e.section
      +e.H3.title= section.title
      +b.UL.bottom-navbar__links
        each link in section.links
          +e.LI.link
            +e.A(href= link.link)= link.name
