-
  features = [
    {
      title: 'Впровадження',
      icon: 'fas fa-tools',
      description: 'Встановлення та впровадження 1С:підприємство потрібної конфігурації.',
      link: 'settings.html'
    },
    {
      title: 'Консультації',
      icon: 'fab fa-teamspeak',
      description: 'Консультації з вибору програмного забезпечення',
      link: 'consultation.html'
    },
    {
      title: 'Пакети супроводу',
      icon: 'fas fa-boxes',
      description: 'Доопрацювання програмни продуктів.',
      link: 'accompaniment.html'
    },
    {
      title: 'Супровід (ІТС)',
      icon: 'fas fa-sync',
      description: '2 види (ІТС): рівня ПРОФ і рівня ТЕХНО',
      link: 'instalation.html'
    }
  ]

+b.NAV.features
  each feature in features
    +e.A.feature.link(href= feature.link)
      +e.DIV.icon
        i(class= feature.icon)
      +b.features__info
        +e.H3.title= feature.title
        +e.P.description= feature.description
