+b.NAV.navbar
  +e.A.item(href="html/about.html") про компанію
  +e.A.item(href="html/services.html") послуги
  +e.A.item(href="html/products.html") продукти
  +e.A.item(href="html/learn.html") навчання та сертифікація
  +e.A.item(href="html/contacts.html") контакти
