+b.NAV.navbar
  +e.A.item(href="about.html") про компанію
  +e.A.item(href="services.html") послуги
  +e.A.item(href="products.html") продукти
  //- +e.A.item(href="learn.html") навчання та сертифікація
  +e.A.item(href="contacts.html") контакти
