+b.NAV.navbar
  +e.A.item(href="index.html") про компанію
  +e.A.item(href="about.html") послуги
  +e.A.item(href="#") продукти
  +e.A.item(href="#") навчання та сертифікація
  +e.A.item(href="#") контакти
