-
  news = [
    {
      date: '01.06.2018',
      desc: 'МИ ПОЧИНАЄМО ЦИКЛ НАВЧАЛЬНО-ОЗНАЙОМЧИХ МАЙСТЕР-КЛАСІВ ПО БУХГАЛТЕРІЇ 2.0'
    },
    {
      date: '06.02.2018',
      desc: 'Запрошуємо до нас в офіс на каву з Вашим консультантом.'
    },
    {
      date: '02.02.2018',
      desc: 'Безкоштовний експрес-курс "Бухгалтерія для України".'
    }
  ]
  
+b.UL.news-list
  each item in news
    +e.LI.news
      span.date= item.date
      p.description= item.desc
    
