-
  products = [
    {
      title: '1С:Підприємство 8',
      list: [
        {
          name: 'Типові продукти',
          link: '#'
        },
        {
          name: 'Додаткові ліцензії',
          link: '#'
        },
        {
          name: 'Продукти для бюджетних установ України',
          link: '#'
        },
        {
          name: 'Бухгалтерський облік для неприбуткових організацій України',
          link: '#'
        },
        {
          name: 'Продукти для корпоративного ринку',
          link: '#'
        }
      ]
    },
    {
      title: 'Інформаційно-технологічний супровід (ІТС)',
      list: [
        {
          name: 'Інформаційно-технологічний супровід ПРОФ',
          link: '#'
        },
        {
          name: 'Інформаційно-технологічний супровід ТЕХНО',
          link: '#'
        }
      ]
    },
    {
      title: 'Бітрікс',
      list: [
        {
          name: 'Управління сайтом',
          link: '#'
        }
      ]
    },
    {
      title: 'Програмне забезпечення інших виробників',
      list: [
        {
          name: 'MS SQL Server Standard 2016',
          link: '#'
        },
        {
          name: 'Microsoft SQL Server 2014',
          link: '#'
        }
      ]
    },
    {
      title: 'Галузеві продукти',
      list: [
        {
          name: 'Програмні продукти для будівництва, житлово-комунального господарства',
          link: '#'
        },
        {
          name: 'Програмні продукти для виробництва, паливно-енергетичного комплексу',
          link: '#'
        },
        {
          name: 'Програмні продукти для громадського харчування, готельного бізнесу (HoReCa)',
          link: '#'
        },
        {
          name: 'Програмні продукти для оцінки персоналу',
          link: '#'
        },
        {
          name: 'Програмні продукти для роздрібної торгівлі',
          link: '#'
        },
        {
          name: 'Програмні продукти для салонів краси, SPA, фітнес-клубів',
          link: '#'
        },
        {
          name: 'Програмні продукти для сільського господарства',
          link: '#'
        },
        {
          name: 'Програмні продукти для управління взаємовідносинами з клієнтами (CRM)',
          link: '#'
        },
        {
          name: 'Програмні продукти для управління інженерними даними та НДІ',
          link: '#'
        },
        {
          name: 'Програмні продукти для управління інформаційними технологіями',
          link: '#'
        },
        {
          name: 'Програмні продукти для управління складом',
          link: '#'
        },
        {
          name: 'Програмні продукти для управління транспортом',
          link: '#'
        },
        {
          name: 'Програмні продукти для управлінського і фінансового обліку',
          link: '#'
        }
      ]
    }
  ]

+b.products-list
  each product in products
    +e.item
      h3= product.title
      ul
        each category in product.list
          li
            a(href= category.link, alt= category.name)= category.name
      a.btn(href="contacts.html") Замовити
