.mixer
  +b.project-mixer-controls
    +e.BUTTON.btn.filter-btn(type="button", data-filter="all") Всі
    +e.BUTTON.btn.filter-btn(type="button", data-filter=".category-a") Міжнародні
    +e.BUTTON.btn.filter-btn(type="button", data-filter=".category-b") Соціальні
    +e.BUTTON.btn.filter-btn(type="button", data-filter=".category-c") Внутрішні
    +e.BUTTON.btn.filter-btn(type="button", data-filter=".category-d") Малий бізнес
  +b.UL.projects-mixer
    +e.A(href="products.html").container.category-a.category-d.mix-target(data-order="1")
      +e.IMG.image(src="../assets/images/projects/21st-century-skills-city-x-project.png")
    +e.A(href="products.html").container.category-a.category-c.mix-target(data-order="1")
      +e.IMG.image(src="../assets/images/projects/a-project-logo-vector-png-venus-project-logo-2000.png")
    +e.A(href="products.html").container.category-b.category-d.category-c.mix-target(data-order="2")
      +e.IMG.image(src="../assets/images/projects/construction-company-logos-www-idealdesigns-in-9849557172-9949645564-tel-040-23316416.jpg")
    +e.A(href="products.html").container.category-b.mix-target(data-order="2")
      +e.IMG.image(src="../assets/images/projects/houseprojectdribbs.jpg")
    +e.A(href="products.html").container.category-c.mix-target(data-order="3")
      +e.IMG.image(src="../assets/images/projects/IW_rgb1-e1379561089879.jpg")
    +e.A(href="products.html").container.category-d.mix-target(data-order="4")
      +e.IMG.image(src="../assets/images/projects/OpenProject-Logo.png")
    +e.A(href="products.html").container.category-a.mix-target(data-order="4")
      +e.IMG.image(src="../assets/images/projects/RV_Project_LOGO.jpg")
