+b.UL.services-names-slider
  +e.LI.slide
    span Пакети супроводу
  +e.LI.slide
    span Супровід програм ІТС
  +e.LI.slide
    span Навчання персоналу роботі з системою
  +e.LI.slide
    span Роботи по налаштуванню і впровадженню
  +e.LI.slide
    span Доставка та встановлення ПЗ
  +e.LI.slide
    span Проведення консультацій

+b.UL.services-slider
  +e.LI.slide
    h3 Сервісний супровід
    p Наш багаторічний досвід роботи з рішеннями на базі платформи 1С:Підприємство показав, що разові, нерегулярні виклики фахівців можуть не дати ефективної підтримки роботи системи. Тільки систематичні перевірки коректності роботи з програмою і своєчасне оновлення конфігурації дозволяють Вам уникнути втрат часу в "гарячі часи" здачі звітності. 
    p Пакет супроводу означає впевненість в оперативному вирішенні виникаючих питань, а також виділених фахівців, які постійно працюють з Вашою організацією, що позитивно позначається на ефективності вирішення виникаючих завдань при обслуговуванні Ваших програмних продуктів.
    p Працюючи з нами за договором супроводу, Ви будете впевнені в тому, що Ваша програма знаходиться в актуальному стані; що фахівець дасть Вам пораду та проконсультує з питань ведення обліку; що можливості програми будуть використані Вами максимально.
    ul
      |Перелік робіт, що виконуються у рамках пакету супроводу
      li Поновлення додаткових конфігурацій, платформ "1С:Підприємство" на робочих місцях та інформаційних баз;
      li Поновлення змінених конфігурацій;
      li Підключення сервісів "Фредо-Звіт", "Конект", "Лінк" та навчання їх використанню;
      li Віддалений супровід - оперативне надання базових та додаткових послуг з використанням віддаленого підключення до робочого місця користувача;
      li "Персональний консультант" - індивідуальні консультації по складних питаннях обліку та роботи з програмами на інформаційних базах користувачів;
      li Тематичні семінари, вебінари та майстер-класи для користувачів наших програм;
      li Послуги нашого адміністратора;
      li Аудит правильності відображення господарських операцій в конфігураціях.
    ul
      |Переваги обслуговування, використовуючи пакети супроводу
      li У разі виникнення черги на надання нами послуг, Вам завжди буде відданий пріоритет.
      li Закріплення за Вашою організацією конкретного фахівця відділу супроводу, який знає специфіку Вашої організації, особливості роботи Вашої програми, і який містить персональну відповідальність перед Вами і керівництвом нашої компанії за її працездатність означає, що на всі Ваші запитання та зауваження зможе відповісти фахівець, який реально володіє ситуацією і історією автоматизації Вашої компанії.
      li Можливість вибору оптимального для Вас пакету супроводу програмних продуктів на платформі 1С:Підприємство.
      li Значною мірою підвищується швидкість реагування на Ваші запитання. Кожен дзвінок від Вас, у залежності від характеру виниклого питання, буде моментально направлятися фахівцям нашої компанії.
    span У разі виникнення необхідності виїзду нашого спеціаліста у Ваш офіс, час, який затрачений на дорогу, буде покриватись за рахунок обсягу годин у пакеті.
    table
      tr
        th(colspan="4", align="center") Перелік пакетів супроводу та їх вартості
      tr
        th(align="center") Назва пакету
        th(align="center") Включений ІТС «Проф»
        th(align="center") Кількість додаткових  годин
        th(align="center") Термін дії пакету
      tr
        th Базовий ПРОФ
        td ІТС 12 міс.
        td(align="center") -
        td(align="center") 12 міс.
      tr
        th Базовий ТЕХНО
        td ІТС 12 міс.
        td(align="center") -
        td(align="center") 12 міс.
      tr
        th "Економ"
        td ІТС 3 міс.
        td(align="center") 30 год.
        td(align="center") 3 міс.
      tr
        th "Оптимальний"
        td ІТС 6 міс.
        td(align="center") 60 год.
        td(align="center") 6 міс.
      tr
        th "Преміум"
        td ІТС 12 міс.
        td(align="center") 120 год.
        td(align="center") 12 міс.
    ol
      |Користувачі, підписані на ІТС, регулярно і оперативно отримують:
      li Унікальні довідкові матеріали щодо ведення обліку та роботі з програмою.
      li
        |Доступ до Інтернет-ресурсів на сайті 
        a(href="www.its.1c.ua") www.its.1c.ua&nbsp;
        |з щоденною інформацією.
      li Персональні консультації по роботі з програмою на лініях консультацій і нашої компанії по телефону та електронною поштою.
      li Оперативне отримання оновлень через інтернет.
      li Допомога фахівця в роботі з сервісами і матеріалами ІТС.
    ul
      |Порядок оплати пакетів супроводу
      li Залежно від обраного пакета супроводу Ви вносите авансовий платіж до 01 числа першого місяця обслуговування по пакету.
      li Передоплата здійснюється на період не менше 3 місяців.
      li У разі якщо обсяг наданих послуг перевищить кількість годин для даного пакету супроводу, оплата вартості обсягу, що перевищує закладений у пакет, здійснюється додатково виходячи з діючої тарифної ставки нашої компанії згідно попереднього узгодження.
      li Вам надається Акт здачі-приймання робіт (послуг) із зазначенням переліку та обсягу наданих послуг.
  +e.LI.slide
    h3 Супровід (ІТС)
    p На даний момент існує 2 види інформаційно-технологічного супроводу (ІТС): рівня ПРОФ і рівня ТЕХНО.
    p Договір ІТС Україна рівня ПРОФ забезпечує користувачам програм на платформі "1С:Підприємство" максимальну кількість інформації і послуг, що надаються фірмою і її партнерами, а також включає в себе професійну інформаційну систему ІТС ПРОФ Україна і додаткові сервіси (зокрема сервіс здачі електронної звітності Фредо - Звіт). 
    p Договір ІТС Україна рівня ТЕХНО включає в себе технологічну інформаційну систему ІТС Україна Техно і забезпечує користувачам програм на платформі "1С:Підприємство" тільки можливість легального отримання оновлень для придбаних програмних продуктів і мінімально необхідний обсяг сервісних послуг від фірми.
  +e.LI.slide
    h3 Налаштування та впровадження
    ul
      |Якщо у Вашої компанії є потреба у розширенні функціоналу типового рішення (потрібні спеціальні звіти, документи, Ви використовуєте унікальні схеми організації ведення обліку та ін.), Наші фахівці готові провести роботи з адаптації (настройці) конфігурації з її подальшим впровадженням, які включають:
      li детальне обстеження з метою визначення ступеня потреби в налаштуванні (уточнення того, як повинні працювати ті чи інші об'єкти програми, опис нових довідників, документів, звітів, схем проводок)
      li формування опису завдання та переліку робіт (технічного завдання) відповідно до отриманих даних детального обстеження, оцінка термінів і вартості цих робіт
      li кодування і тестування - власне конфігурація програми і обов'язкове тестування функціональності і продуктивності нової системи
      li впровадження - введення системи в експлуатацію (визначення порядку переходу користувачів на нову систему, перенесення початкових даних, тестування системи на реальних даних)
      li складання «Керівництва користувача» по роботі з адаптованою системою, що містить опис змін в програмі і порядок роботи з нею.
  +e.LI.slide
    h3 Доставка та встановлення
    p Доставка куплених програмних продуктів здійснюється безкоштовно.
    ul
      |В рамках сервісу з доставки та встановлення типового програмного продукту, ми надаємо наступні послуги (безкоштовно в межах Львова):
      li перевірка відповідності операційної системи технічним вимогам до забезпечення працездатності програм на платформі «1С:Підприємство»; 
      li установка програмного забезпечення і запуск ПЗ на всіх робочих станціях; 
      li організація доступу до роботи з програмою;
      li установка інтерфейсу користувачам; 
      li консультація користувачів по запуску системи, створення резервних копій, проведення навчання роботі з програмою, коректному введенню в експлуатацію. Тривалість навчання залежить від придбаної конфігурації;
      li роз'яснення варіантів подальшого обслуговування;
      li оформлення необхідного пакету документів;
  +e.LI.slide
    h3 Консультації по вибору ПЗ
    p Лінійка продуктів на платформі «1С:Підприємство» включає велику кількість типових, спеціалізованих і галузевих прикладних рішень - з різним функціоналом, призначених для вирішення різних завдань, з різними умовами супроводу, ліцензування та ін. Самостійно зорієнтуватися в повному спектрі рішень буває непросто. Фахівці нашого відділу продажів завжди нададуть Вам кваліфіковану допомогу у виборі необхідного продукту, оформленні замовлення і всієї супутньої документації та доставці придбаних продуктів. Безкоштовні консультації фахівців нашої компанії дозволяють уникнути проблем неправильного вибору прикладного рішення і оптимізувати бюджет на автоматизацію.
    ul
      |Ми готові організувати професійну консультацію щодо вибору програмного забезпечення будь-яким зручним для Вас способом у зручний для Вас час:
      li по телефону
      li в офісі нашої компанії 
      li у Вашому офісі
      
