+b.UL.services-names-slider
  +e.LI.slide
    span ТОП доробок
  +e.LI.slide
    span Фредо-звіт
  +e.LI.slide
    span Пакети супроводу
  +e.LI.slide
    span Супровід програм ІТС
  +e.LI.slide
    span Навчання персоналу роботі з системою
  +e.LI.slide
    span Роботи по налаштуванню і впровадженню
  +e.LI.slide
    span Доставка та встановлення ПЗ
  +e.LI.slide
    span Проведення консультацій

+b.UL.services-slider
  +e.LI.slide 1
    h3.title ТОП доробок, які полегшують роботу
    p Протягом багатьох років впровадження, адаптації та супроводу програмних продуктів різних конфігурацій ми аналізували і фіксували поширені звернення наших численних клієнтів за додатковими доробках і утиліти.
    p 
      |Докладніше зі списком доробок, які ми пропонуємо, можна ознайомитись
      a(href="http://rarus.lviv.ua/ua/top.php") тут
    pre
      |Проконсультуватися / замовити послуги можна за
      |тел.: +38 (032) 232 90 99
      |e-mail: pr@rarus.lviv.ua
  +e.LI.slide 2
  +e.LI.slide 3
  +e.LI.slide 4
  +e.LI.slide 5
  +e.LI.slide 6
  +e.LI.slide 7
  +e.LI.slide 8
      
