-
  slides = [
    {
      slogan: 'Обирай кращих!',
      img: '../assets/images/top-slider/1.png',
      desc: 'Компанія DT Logic Group –команда спеціалістів  зі спільним бажанням допомогати клієнтах максимально оптимізувати роботу підприємтсва.',
      link: 'services.html'
    },
    {
      slogan: 'Компанія «DT Logic Group»',
      img: '../assets/images/top-slider/2.png',
      desc: 'Ми надаємо глибокий індивідуальний підхід  клієнта і завжди раді надати консультації.',
      link: 'services.html'
    },
    {
      slogan: 'Супровід та підтримка',
      img: '../assets/images/top-slider/3.png',
      desc: 'Оперативне і якісне надання послуг з обслуговування програмни продуктів.',
      link: 'services.html'
    },
  ]

+b.UL.slider
  each slide in slides
    +e.LI.slide
      +e.IMG.image(src= slide.img, alt= slide.slogan)
      +b.DIV.text
        +e.H3.slogan= slide.slogan
        +e.P.desc= slide.desc
        +e.A.more.btn(href= slide.link) Більше
        
