extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'home',
      title: 'Frontpage',
      appTitle: 'Frontpage',
      description: 'Main page'
    }

block beforeload
  link(rel="stylesheet", href="css/about.css")
  
block afterload
  script(src="js/about.js")
  
block content
  h1 Hello about
