extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'about',
      title: 'About us',
      appTitle: 'About us',
      description: 'Main corporation description page'
    }

block beforeload
  link(rel="stylesheet", href="../css/about.css")
  
block afterload
  script(src="../js/about.js")
  
block content
  section.about-us
    center
      h2.title Про компанію
      pre.description
        |Наша Компанія "ДТ Логік Груп" - офіційний партнер компанії 1С зі статусом 1С — Франчайзі.
        |
        |Компанія спеціалізується на проведенні комплексної автоматизації усіх облікових ділянок підприємств (бухгалтерський, податковий, фінансовий та управлінський облік) на базі програмних продуктів 1С Підприємство. Найбільшу увагу приділяється управлінському обліку та автоматизації бізнес-процесів, застосування яких підвищує ефективність діяльності Замовника.
        |
        |Основним принципом роботи компанії визначено виготовлення якісного продукту. Для забезпечення належної якості наша компанія готова жертвувати фінансовими та іншими можливими втратами. Тому, якщо проект розпочато, ми зробимо усе можливе щоб його завершення було успішним.
    //- include ./components/about-slider
  //- section.projects
    .wrapper
      center
        h2.title Проекти
        pre.description
          |Безліч реалізованих нами проектів в різних областях діяльності з різною специфікою ведення бізнесу.
          |Кожний реалізований проект - починає жити разом з нами, стає частиною великої родини Рарус.
      include ./components/projects-mixer
  //- section.recognition
    center
      h2.title Сертифікація
    +b.certificate
      +e.IMG.image(src="../assets/images/sert_for_fatfox_3.jpg", alt="certificate")
