extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'accompaniment',
      title: 'Accompaniment',
      appTitle: 'Accompaniment',
      description: 'Main Accompaniment page'
    }

block beforeload
  link(rel="stylesheet", href="../css/docs.css")
  
block content
  section.consultation
    .container
      p
        a(href="#") Інформаційно-технологічний супровід (ІТС)
      p На даний момент існує 2 види інформаційно-технологічного супроводу (ІТС): рівня ПРОФ і рівня ТЕХНО.
      p Договір ІТС Україна рівня ПРОФ забезпечує користувачам програм на платформі «1С:Підприємство» максимальну кількість інформації і послуг, які надаються фірмою і її партнерами, а також включає в себе професійну інформаційну систему ІТС ПРОФ Україна і додаткові сервіси (зокрема Сервіс здачі електронної звітності Фредо-Звіт).
      p Договір ІТС Україна рівня ТЕХНО включає в себе технологічну інформаційну систему ІТС Україна Техно і забезпечує користувачам програм на платформі «1С:Підприємство» тільки можливість легального отримання поновлень для придбаних програмних продуктів і мінімально необхідний об’єм сервісних послуг від фірми. 
      p
        a(href="#") Регламент роботи лінії консультації
      p Лінія консультацій - сервіс, що входить до договір інформаційно-технологічного супроводу (ІТС), який включає в себе надання консультаційних послуг з використання типових прикладних рішень; 
      p Лінія консультацій компанії "Рарус Львів" може стати Вашим надійним помічником і партнером, здатним екстрено вирішити виникаючі питання при роботі з прикладними рішеннями;
      p У колективі Лінії консультацій працюють фахівці-консультанти, що володіють знаннями по всіх типовим продуктам, а також по ряду спеціалізованих галузевих рішень. Досвід і знання співробітників підтверджені сертифікатами. Ви можете бути впевнені в тому, що фахівці нашої Лінії консультацій детально розберуть Ваше питання і допоможуть у якнайшвидшому вирішенні задачі.
