extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'catalog',
      title: 'Catalog',
      appTitle: 'Catalog',
      description: 'Main catalog page'
    }
    
block beforeload
  link(rel="stylesheet", href="../css/catalog.css")
  
block afterload
  script(src="../js/catalog.js")
  
block content
  section.catalog
    include ./components/catalog
