extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'home',
      title: 'Frontpage',
      appTitle: 'Frontpage',
      description: 'Main page'
    }

block beforeload
  link(rel="stylesheet", href="../css/docs.css")
  
block content
  section.consultation
    .container
      p Лінійка продуктів на платформі «1С: Підприємство» включає велику кількість типових, спеціалізованих і галузевих прикладних рішень - з різним функціоналом, призначених для вирішення різних завдань, з різними умовами супроводу, ліцензування та ін. Самостійно зорієнтуватися в повному спектрі рішень буває непросто.
      p Фахівці нашого відділу продажу завжди нададуть Вам кваліфіковану допомогу у виборі необхідного продукту, оформленні замовлення і всієї супутньої документації та доставці придбаних продуктів.
      p Безкоштовні консультації фахівців нашої компанії дозволять уникнути проблем неправильного вибору прикладного рішення і оптимізувати бюджет на автоматизацію.
      ul
        |Ми готові організувати професійну консультацію щодо вибору програмного забезпечення будь-яким зручним для Вас способом у зручний для Вас час:
        li по телефону, 
        li в офісі нашої компанії, 
        li у Вашому офісі.
      p Ви можете залишити нам заявку на організацію безкоштовної консультації.
      a(href="#") Залишити заявку
