extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'contacts',
      title: 'Contacts',
      appTitle: 'Contacts',
      description: 'Main contacts page'
    }

block beforeload
  link(rel="stylesheet", href="../css/contacts.css")
  
block afterload
  script(src="../js/contacts.js")
  
block content
  section.contacts
    center
      h2.title Контакти
      h3.corporation-name DT LOGIC GROUP
      div.section
        p
          |Адреса:
          strong 	м.Львів, вул..Залізнична.23
        p
          |Поштова адреса:
          strong 	м.Львів, вул..Мідна 10 кв20
      div.section
        p
          |Телефон контактний:
          strong (067) 8856652
        p
          |Телефон моб.:
          strong 0672559499
        p
          |Телефон лінії консультацій:
          strong 0684021075
      div.section
        p
          |Електронна пошта:
          strong info@dtlogickgroup.com.ua
        p
          |Сайт:
          strong тут буде ваш сайт
        p Режим роботи: 9:00 - 18:00
    .map
      h2 Шукай нас тут:)
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2163.7716259984027!2d23.99735250602559!3d49.83921409634712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add836192e041%3A0x474b8e8760629816!2z0YPQu9C40YbQsCDQl9Cw0LvQuNC30L3Ri9GH0L3QsCwgMjMsINCb0YzQstC-0LIsINCb0YzQstC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1sru!2sua!4v1553640614702", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
