extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'fredo',
      title: 'Fredo',
      appTitle: 'Fredo',
      description: 'Main fredo page'
    }

block beforeload
  link(rel="stylesheet", href="../css/docs.css")
  
block content
  section.consultation
    .container
      p Було розроблено сервіс здачі електронної звітності (ЗЕЗ), який включає в себе програму «Фредо-Звіт» і засоби інтеграції цієї програми з типовими конфігураціями фірми. Це дає можливість безпосередньо в типових конфігураціях програм не тільки сформувати регламентовану звітність, перевірити заповнення, роздрукувати і зберегти в електронному вигляді в необхідному форматі XML, але і зашифрувати і підписати звіти електронним цифровим підписом, відправити до контролюючих органів і отримати квитанцію про доставку звіту за призначенням. Традиційна підсистема здачі регламентованої звітності залишатиметься в колишньому обсязі.
      p Надалі в традиційній підсистемі регламентованої звітності не планується додавати нові регламентовані звіти, додавати можливість експорту даних в зовнішні файли і т. д., в той же час вже реалізовані функціональні можливості підтримуватимуться в актуальному стані.
      ul
        |Підтримка сервісу ЗЕЗ включена в типові конфігурації:
        li Бухгалтерія 8 (ПРОФ і Базова);
        li Зарплата і управління персоналом(ПРОФ і Базова);
        li Управління торговим підприємством;
        li Управління виробничим підприємством;
        li Бухгалтерія 7.7(ПРОФ і Базова);
        li Зарплата+Кадри;
        li Виробництво+Послуги+Бухгалтерія;
        li Комплексна конфігурація
      h3 Встановлення і налаштування «Фредо-Звіт»
      p При запуску програми «Фредо-Звіт» з програми на платформі «1С:Підприємство», картка підприємства буде створена автоматично. При першому запуску програма запропонує ввести ліцензійний код. При генерації ліцензійного коду враховується ЄДРПОУ підприємства. Активація пройде успішно, якщо у підприємства є діюча підписка на інформаційно-технологічний супровід (ІТС) рівня ПРОФ. В програмі «Фредо-Звіт» у картку підприємства необхідно ввести реквізити сертифікатів ЕЦП посадових осіб та печатки.
      p Далі в програмі, в довіднику «Організації» необхідно вказати дату, починаючи з якої буде використовуватися «Фредо-Звіт». Але це не означає, що не можна буде користуватися традиційною регламентованою звітністю. При відкритті звичайного звіту, програма дає попередження, що, починаючи з певної дати використовується «Фредо-Звіт» і запитує про переривання виконання операції. При відповіді «Ні» будуть відкриватися звіти, як зазвичай.
      p Наступний крок полягає в перевірці правильності заповнення параметрів формування регламентованих звітів у формі «Налаштування заповнення звітів» «Фредо-Звіт».
      p Тільки тепер для формування регламентованої звітності використовується команда «Регламентовані звіти «Фредо-Звіт» з меню «Звіти» - «Регламентована звітність».
      h3 Здача електронної звітності «Фредо-Звіт»
      p Відкрийте «Реєстр звітів» з меню «Звітність». Виберіть потрібний звіт, та відкрийте його. При цьому звіт відкривається в окремій вкладці горизонтального меню, що містить назву цього звіту.
      p Бланк звіту після відкриття автоматично заповнюється даними з картки підприємства. Для перенесення у відкритий бланк звіту даних з програми натисніть кнопку «Заповнити» і програма автоматично вивантажить дані з програми у відповідні поля бланка звіту. При необхідності є можливість вручну ввести дані.
      p Перевіряємо звіт і зберігаємо документ. Безпосередньо перед відправкою збережений документ шифрується і підписується ЕЦП.
      p Надсилання звітності в електронному вигляді з ЕЦП в контролюючі органи здійснюється через пряме з'єднання або за допомогою вбудованого поштового клієнта. Звіти доставляються через сервер електронних документів, що представляє собою програмно-апаратний комплекс «Фредо-СЕД». З допомогою програми «Фредо-Звіт» можна одночасно відправляти звіти відразу декільком контролюючим органам.
      p Програма «Фредо-Звіт» приймає квитанцію про доставку звіту на сервер контролюючого органу. З моменту отримання другої квитанції про результати обробки документа сервером можна вважати, що звіт зданий. Користувачі програми «Фредо-Звіт» можуть замовити додатковий сервіс, що дозволяє перевіряти стан платника ПДВ із бази платників ДПАУ.
      h3 Підтримка сервісу ЗЕЗ
      p Підтримка сервісу ЗЕЗ надається на період дії підписки на ІТС рівня ПРОФ.
      p Якщо використовується програма для ведення обліку кількох підприємств, то для роботи з сервісом ЗЕЗ, підприємству, на яке не оформлена підписка ІТС рівня ПРОФ, надається можливість оформлення додаткової підписки на сервіс ЗЕЗ.
      p
        |Програма з певною періодичністю автоматично перевіряє наявність оновлень на сайті
        a(href="https://fredo.com.ua/") https://fredo.com.ua/
        |. Запустити пошук оновлень також можна вручну в програмі з меню «Сервіс» - «Оновити програму".
      p
        |Користувач самостійно може скачати актуальне оновлення з сайту
        a(href="https://fredo.com.ua/") https://fredo.com.ua/
        |, а потім встановити його.
      p В усіх перерахованих способах при запуску оновлення, після прочитання релізу, усі дії з установки виконуються автоматично.
      p По закінченню терміну дії підписки на ІТС рівня ПРОФ, використання регламентованої звітності буде доступно традиційно, але буде недоступна функція оновлення програми «Фредо-Звіт».
      p Для відновлення повнофункціональної роботи сервісу ЗЕЗ необхідно оформити підписку на ІТС рівня ПРОФ. Після оформлення підписки програма «Фредо-Звіт» може бути оновлена до актуальної версії.
