extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'home',
      title: 'Frontpage',
      appTitle: 'Frontpage',
      description: 'Main page'
    }

block beforeload
  link(rel="stylesheet", href="/frontpage.css")

block afterload
  script(src="js/index.js")

block content
  section.top-slider
    include ./components/slider
  section.service
    center
      h2.title Наші послуги
      pre.about
        |Ми пропонуємо індивідуальний , комплексний підхід і вироблення рішення автоматизації бізнес-процесів підприємства.
        |
        |Працюємо якісно і на результат.
      //- a.price-list(href="catalog.html") Топ доробок
    include ./components/features
  //- section.news
    center
      h2.title Новини
    include ./components/news
  section.clients
    .wrapper.clearfix
      center
        h2.title Наші клієнти
      include ./components/clients-slider
  //- section.partners
    .wrapper
      center
        h2.title Наші партнери
        pre.about
          |За роки роботи компанія співпрацює з кращими компаніями, яких об'єднує успіх і робота на результат.
          |Ви можете стати нашим партнером
        a.partnership(href="contacts.html") Стати партнером
      include ./components/partners-slider
