extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'instalation',
      title: 'Instalation',
      appTitle: 'Instalation',
      description: 'Main instalation page'
    }

block beforeload
  link(rel="stylesheet", href="../css/docs.css")
  
block content
  section.consultation
    .container
      p Доставка придбаних програмних продуктів здійснюється безкоштовно.
      ul
        |У рамках сервісу з доставки та встановлення типового програмного продукту, ми надаємо наступні послуги (безкоштовно в межах Львова):
        li перевірка відповідності операційної системи технічним вимогам до забезпечення працездатності платформи «1С: Підприємство»; 
        li установка програмного забезпечення і запуск ПЗ на всіх робочих станціях; 
        li організація доступу до роботи з програмою; 
        li налаштування інтерфейсу користувачам; 
        li консультація користувачів по запуску системи, створенню резервних копій, проведення навчання роботі з програмою, коректному введенню в експлуатацію. Тривалість навчання залежить від придбаної конфігурації; 
        li роз'яснення варіантів подальшого обслуговування;
        li оформлення необхідного пакету документів.
      p У разі необхідності налаштування (адаптації) системи та її впровадження ми готові надати додаткові послуги.
