extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'learn',
      title: 'Learning',
      appTitle: 'Learning',
      description: 'Main learning page'
    }

block beforeload
  link(rel="stylesheet", href="../css/learn.css")
  
block afterload
  script(src="../js/learn.js")
  
block content
  section.about-us
    center
      h2.title Навчальний центр
      pre
        |Навчальний центр «Рарус Львів» має статус авторизованого центра сертифікації (АЦС). 
        |Уже кілька сотень слухачів підвищили свій професійний рівень, завдяки курсам, пройденим в нашому Навчальному Центрі, і підтвердженням цьому є іменні сертифікати, отримані після проходження курсів.
    include ./components/learn-features
  section.courses
    .wrapper
      center
        h2.title Починай вчитися вже зараз
        pre
          |Компанія пропонує все, для того, щоб ви отримали якісні профільні знання. 
          |Навчальний центр пропонує професійну літературу, для швидкого освоєння знань.
        a.btn(href="contacts.html") Подати заявку
    table
      tr
        th(align="center") Дата/час
        th(align="center") Курс
        th(align="center") К-сть годин
        th(align="center") Ціна, грн
      tr
        td
        td
          a(href="#") Курс «Бухоблік + платформа "1С:Підприємство"». Перші кроки.
          p призначений для вивчення основних моментів бухгалтерського обліку, отримання практичних навиків у веденні бухобліку в програмі  на платформі "1С:Підприємство 8"
        td(align="center") 40
        td(align="center") -
      tr
        td
        td
          a(href="#") Конфігурування в системі на платформі «1С:Підприємство 8». Вирішення оперативних завдань
          p призначення курсу - дати слухачам навички самостійної роботи зі створення оперативних облікових і управлінських рішень в системі на платформі «1С:Підприємство 8»
          ul
            li Вміти застосовувати схему розв’язання оперативних задач;
            li Вміти використовувати різні способи запису даних в регістри і читання з них;
            li Вміти розробляти алгоритми відображення документів в обліку;
            li Вміти розробляти аналітичні звіти
        td(align="center") 16
        td(align="center") -
      tr
        td
        td
          a(href="#") Вступ до конфігурування на платформі «1С:Підприємство 8» Основні об`єкти
          p призначений навчити основам конфігурування та програмування в системі  на платформі «1С:Підприємство»
          ul
            li отримання оглядового уявлення про основні об'єкти і механізми системи на платформі "1С:Підприємство 8", набуття початкових навичків конфігурування та програмування на платформі "1С:Підприємство 8" на прикладі нескладної комплексної задачі.
        td 24
        td -
      tr
        td
        td
          a(href="#") Ведення бухгалтерського й податкового обліку в прикладному рішенні «Управління торгівельним підприємством»
          ul
            |призначений для вивчення головних функціональних можливостей типової конфігурації «Управління торговельним підприємством», одержання цілісного й правильного розуміння базових принципів й особливостей використання  конфігураціїдля та рішення наступних завдань:
            li відображення господарських операцій у бухгалтерському й податковому обліку;
            li виписки власних і реєстрації отриманих первинних документів; 
            li виконання регламентних облікових операцій;
            li формування регламентованої звітності 
            li одержання й закріплення базових навичок роботи з функціоналом типової конфігурації «Управління торговельним підприємством»
        td(align="center") 40
        td(align="center") -
      tr
        td
        td
          a(href="#") Використання прикладного рішення «Бухгалтерія 8»
          ul
            |Призначений для користувачів, які планують вести облік у програмі «Бухгалтерія 8» і спрямований на ознайомлення з можливостями типового рішення та отримання користувальницьких навичок роботи в ньому.
            li формування оглядового уявлення про можливості програми
            li отримання практичних навичок роботи з функціоналом програми,
            li розуміння принципів розгортання і початку роботи в системі,
            li набуття навичок оформлення власних і реєстрації отриманих первинних документів,
            li вивчення найпростіших прийомів аналізу накопичених даних.
        td(align="center") 40
        td(align="center") -
