extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'settings',
      title: 'Settings',
      appTitle: 'Settings',
      description: 'Main settings page'
    }

block beforeload
  link(rel="stylesheet", href="docs.css")
  
block content
  section.consultation
    .container
      ul
        |Якщо у Вашої компанії є потреба у розширенні функціоналу типового рішення (потрібні спеціальні звіти, документи, Ви використовуєте унікальні схеми організації ведення обліку та інше), наші фахівці готові провести роботи з адаптації (налаштування) конфігурації з її подальшим впровадженням, які включають:
        li детальне обстеження з метою визначення ступеня потреби в налаштуванні (уточнення того, як повинні працювати ті чи інші об'єкти програми, опис нових довідників, документів, звітів, схем проводок)
        li формування опису завдання та переліку робіт (технічного завдання) відповідно до отриманих даних детального обстеження, оцінка термінів і вартості цих робіт
        li кодування і тестування - власне конфігурування програми і обов'язкове тестування функціональності і продуктивності нової системи
        li впровадження - введення системи в експлуатацію (визначення порядку переходу користувачів на нову систему, перенесення початкових даних, тестування системи на реальних даних)
        li створення «Інструкції користувача» по роботі з адаптованою системою, що містить опис змін в програмі і порядок роботи з нею
      p
        a(href="contacts.html") Залишити заявку
      
