+b.FOOTER.footer
  +e.socials
    include ../modules/social
  +e.navigation
    include ../components/navbar
  +e.copyright
    span ® DT Logic Group 2019. All rights reserved
    strong designed & provided by Wasya1212
