+b.HEADER.header.disabled
  +e.ASIDE.top-bar
    +e.container
      +e.top-bar-left
        include ../modules/contacts
      +e.top-bar-right
        include ../modules/social
  +e.navigation
    +e.container
      +e.navigation__logo-container
        include ../modules/logo
        //- include ../modules/logo-desc
      +e.navigation__navbar
        include ../components/navbar
  +e.ATRICLE.responsive-switcher
    .switch.btn
      div
      div
      div
    .responsive-logo
      include ../modules/logo
  
