+b.HEADER.header
  +e.ASIDE.top-bar
    +e.top-bar-left
      include ../modules/contacts
    +e.top-bar-right
      include ../modules/social
  +e.navigation
    +e.navigation__logo-container
      include ../modules/logo
    +e.navigation__navbar
      include ../components/navbar
  
