+b.contacts
  +e.UL.list
    +e.LI.list__item(contactRole="phone")
      +e.A(href="tel:+380678856652")
        i.fas.fa-phone
        | +38 067 8856652
    +e.LI.list__item(contactRole="phone")
      +e.A(href="tel:+380672559499")
        i.fas.fa-phone
        | +38 067 2559499
    +e.LI.list__item(contactRole="email")
      +e.A(href="mailto:info@dtlogickgroup.com.ua")
        i.fas.fa-envelope
        | info@dtlogickgroup.com.ua
