+b.UL.socials
  +e.LI.item
    +b.DIV(class="socials__item__container facebook")
      +e.A.icon(href="https://www.facebook.com")
        include ../../assets/icons/facebook-app-symbol.svg
  +e.LI.item
    +b.DIV(class="socials__item__container twitter")
      +e.A.icon(href="https://twitter.com")
        include ../../assets/icons/twitter-logo-silhouette.svg
  +e.LI.item
    +b.DIV(class="socials__item__container instagram")
      +e.A.icon(href="https://www.instagram.com")
        include ../../assets/icons/instagram.svg
  +e.LI.item
    +b.DIV(class="socials__item__container google")
      +e.A.icon(href="https://mail.google.com")
        include ../../assets/icons/google.svg
